._ts_main_page_wrapper {
  margin-bottom: 24px;
}

._ts_search_results {
  margin-top: 10px;
}

._ts_search_results__total-results {
  margin-bottom: 10px;
}

._ts_results_list {
  padding: 0; /* undo reset.css styles */
}

._ts_results_list_item {
  list-style: none;
}

._ts_results_list_item:not(:first-of-type) {
  list-style: none;
  margin-top: 8px;
}

._ts_path_picture {
  vertical-align: middle;
  margin: 0 5px 0 2px;
  border-radius: 50%;
}

._ts_search_mode_label {
  font-size: 16px;
  font-weight: 200;
  outline: 3px;
  display: inline-block;
  padding: 0 0 0 3px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

._ts_search_text_field {
  font-size: 24px;
  font-weight: 200;
  outline: 3px;
  padding: 0 0 0 3px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

._ts_path_delimeter {
  display: inline-block;
  font-size: 20px;
  margin: 0 3px;
}

._ts_last_modified_space {
  padding-left: 15px;
  color: gray;
  font-style: italic;
}

._ts_header_path ._ts_header_path_item + ._ts_header_path_item:before {
  content: " / ";
}

section {
  margin-bottom: 1ex;
}

._ts_link_button {
  cursor: pointer;
}
