/**
 * This is a stylesheet document inherited from Confluence-Search plugin. Used to make search results look similar to Confluence Search results
 */

/* CONF-30396 main-header is displayed when doc theme is active globally */
#main-header {
    display: none;
}

.search-results-page-panel-nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    padding: 20px;
    padding-left: 0;
    vertical-align: top;
    width: 218px;
}

.search-results-page-panel-nav a {
    cursor: pointer;
}

.search-results-page-panel-nav .user-picker,
.search-results-page-panel-nav .space-filter {
    margin-bottom: 10px;
}

.search-results-page-panel-nav .filter-wrapper {
    padding-left: 7px;
    padding-right: 7px;
}

.search-results-page-panel-nav .space-filter .aui-select2-container {
    height: 30px; /* set fixed height to avoid height jumping on page load */
    margin-bottom: 5px;
    word-wrap: normal; /* fix text overflowing bug in IE8 select2, because form.aui has word-wrap: break-word */
}

.search-results-page-panel-nav .user-picker {
    position: relative;
}

.search-results-page-panel-nav .user-picker .autocomplete-user {
    padding-right: 22px;
}

.search-results-page-panel-nav .user-picker .clear-button {
    color: #ccc;
    position: absolute;
    right: 12px;
    top: 8px;
}

/* bugfix from unreleased AUI. first child shouldn't have a border */
.aui-navgroup-vertical .aui-nav:first-child, .aui-navgroup-vertical .aui-navgroup-inner > .aui-nav-heading:first-child, .aui-navgroup-vertical .aui-navgroup-primary > .aui-nav-heading:first-child, .aui-navgroup-vertical .aui-nav-heading + .aui-nav {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

#search-results-header {
    padding: 20px;
    margin: -20px;
    margin-bottom: 0;
    background-color:    #f5f5f5;
    border-bottom: 1px solid #ccc;
}

#search-results-header h1 {
    float: left;
    padding-left: 8px;
    width: 229px;
    margin-top: 10px;
}

#search-results-header .search-query {
    white-space: nowrap;
    padding-right: 75px;
    box-sizing: border-box;
}

#search-results-header #query-string {
    max-width: 600px;
    font-size: 16px;
    padding-right: 30px;
}

.search-input-wrapper {
    position: relative;
}

.search-input-wrapper .help-button {
    position: absolute;
    right: 13px;
    top: 0px;
    color: #707070;
    cursor: pointer;
}

#search-results-header #search-query-submit-button {
    width: 38px;
    height: 34px;
    position: relative;
    top: 0;
    margin-left: 5px;
}

.search-results-wrapper {
    position: relative;
}

.search-results {
    position: relative;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

/* Want to keep <h3> semantics of search result titles, but typography is too large */
.search-results h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}

.aui-page-panel-content.one-panel .search-results,
.search-results-container,
.search-blanket {
    max-width: 650px;
}

.aui-page-panel-sidebar {
    width: 30%;
}

.search-blanket {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0.8;
    z-index: 1;
}

.loading-spinner {
    width: 38px;
    height: 34px;
    position: relative;
    top: 12px;
    left: 0;
    display: inline-block;
}

#search-results-meta {
    color: #707070;
}

.search-results > li {
    margin-top: 15px;
}

.search-results .highlights,
.search-results .search-result-meta {
    margin-left: 21px;
    word-wrap: break-word;
}

.search-results > li:first-child {
    margin-top: 0
}

.search-result-meta {
    color: #707070;
    font-size: 12px;
    margin-top: 2px;
}

.search-result-meta > a.container,
.search-result-meta > a.container:link {
    color: #707070;
}

.search-result-meta > .date {
    white-space: nowrap;
}

.search-results .icon {
    margin-top: -2px;
    vertical-align: middle;
}

/* Override any hacks from plugins; they should let AUI get the margins correct. margin: 0 is what AUI uses. */
.search-results.cql .aui-icon.aui-icon-small {
    margin: 0;
}

.search-result-link {
    display: inline;
    padding-left: 5px;
    font-weight: normal;
}

.pagination-container {
    margin: 30px 0 0 20px;
}

.pagination {
    padding: 0;
}

.pagination li {
    display: inline;
}

.pagination li a,
.pagination li strong {
    padding: 0 14px;
}

.pagination li:first-child a,
.pagination li:first-child strong {
    padding-left: 0;
}

a.pagination-prev,
a.pagination-next {
    margin: 0;
}

/* TODO: Move that to icons.css once in Confluence */
span.icon-userinfo {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAAJ1BMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAzTstiAAAADXRSTlMAESIzVWZ3iLvM3e7/4Y781AAAAAlwSFlzAAALEgAACxIB0t1+/AAAABR0RVh0Q3JlYXRpb24gVGltZQAyLzEvMTOjOAfGAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAAFNJREFUCJljYGBg7DkhwAACHGfONIAZPGfOHEBlwKXgiuGA7fSeAjDD58yZI2Ale86cOQ1SxH4GCBKADE4QYwGQoQNiHAYyYkCMY0CGBIjRiDANAMZAJ1J5cmzeAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
}

span.icon-attachment {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAOVBMVEX///+1tbWzs7OwsLCPj4/////5+fnPz8/MzMzR0dH39/fz8/PHx8fExMRycnJwcHB2dnZ+fn6BgYF9ZT6ZAAAADnRSTlMAIiIi3d3u7u7u7u7u7nBrcuYAAABXSURBVHhehY7bDoAgDEOHdly8DPT/P1YgmyQmhvN40rQlcshiwBER7shKvFCFJH45pAk/xN4Fc250o2JgCWWamHb8r3jrsGPhcx0l6PntLKhihShZsNAD8XUHi3Ug+oQAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}

span.icon-spacedesc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAe1BMVEX///+zs7Ovr6+1tbWlpaX///+RkZGLi4uFhYXp6enj4+PMzMzx8fHu7u7Hx8ecnJzY2NjJycn///9ycnJ6enp4eHjl5eVwcHCPj4/5+fnHx8eZmZmVlZXe3t7d3d2RkZHW1taLi4uFhYWAgIDQ0NDh4eF1dXWvr6+lpaUt7SrqAAAAEnRSTlMAIiIimd3d7u7u7u7u7u7u7u56GPg0AAAAmElEQVR4XmXPyQ7DIAxFUaeFQKYOtoFMncf//8LaQVUXvRuko7fAoJmSpNJAbuV521RVMwW/UihC39ml6hoKAX9LJHFtbdt7APM8D4g4JJWaDLgRl9JL5eSANI6Y8C2yIUh5H5PEtlPI+ygP2ZaAFHQfFfYE7qEgscLswMyYI4EdGQB//8HFL18fv8BhnY+bDgrHSY/7O/8DnOwO01cN7RMAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
}

span.icon-personalspacedesc {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAclBMVEX///+zs7OwsLC1tbWlpaX///+RkZGFhYWLi4vx8fHt7e3p6enn5+fi4uLY2NjPz8/MzMz39/f19fXHx8e8vLyrq6ucnJzW1tbJycl4eHhycnJwcHB0dHR6enqZmZmRkZGPj498fHyLi4uFhYWWlpaTk5O9yTF4AAAAGXRSTlMAIiIimd3d7u7u7u7u7u7u7u7u7u7u7u7uljVdSgAAAJNJREFUeF5lj1cOwzAMQ53UjLNXp6TMjvtfsbIToAH6/kiBAmk8NmElsWYjduutLYp2Ihd7HdGSI1C8KFLDfTr0s8jcI1uc5ge9q1YHqNiadAIgAeglNXw/Gmc20uEXQb4b+1MgY8M1Djx4e3oRIrkCeKfGcoVGAg1qtr5YSRKg8ulC9VV2Vjpt44bRy3Hw4/7mfwGfaw78ytBc1AAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
}

#search-help-dialog pre {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

input[type=text]::-ms-clear {
    display: none;
}

a.visitable.search-result-link:visited {
    color: #654982;
}

/* CQL Search Screen styles */

.cql-filter-field-input-container {
    padding-left: 7px;
    padding-right: 7px;
}

/* Add bottom margin, as select2 fields have display: inline-block
style which adds this additional spacing */
nav.aui-navgroup .cql-filter-field-input-container input,
/* Add bottom margin to single value select2 fields, these are not effected by the display: inline-block
in the same way that the select2-multis are */
nav.aui-navgroup .cql-filter-field-input-container .select2-container:not(.select2-container-multi) {
    margin-bottom: 5px;
}

.search-results .aui-icon {
    color: #707070;
}
